* {
	box-sizing: border-box;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}

html {height:100%;}

body {
	font-family: Cambria;
	font-size: 14px;
	color: #000;
	background-color: #BFE8F9;
	width: 980px;
	margin: 0 auto;
	height:100%;
}

h1 {
	color:#555555;
}

.mainText {
	color: #707070;
	background-color: #BFF5F9;
	font-size: 16px;
	border: solid 1px #23556B;
	padding: 8px;
	float: right;
	width: 70%
}

.content {
	color: #707070;
	background-color: #BFF5F9;
	border: solid 1px #23556B;
	padding: 8px;
}

.padding {
	padding-left: 20px;
}

#leftcolumn {
	float: left;
	width: 29%;
	margin-right: 1%
}

#leftcolumn #info {
	background-color: #ffffe6;
	color: #00004d;
	font-size: 16px;
	border: solid 1px #bbb;
	padding: 8px;
	min-height: 100px
}

#leftcolumn a:link, #leftcolumn a:visited {
	color: #0066cc;
	font-size: 16px;
	font-weight: bold;
}

ul .list-group-item {
	background-color: #e6f2ff;
}

.table-striped {
	background-color: #C8c8c8;
}

.dl-horizontal dt{
    text-align: left;
    margin-bottom: 1em;
    width: auto;
    padding-right: 1em;
}

.dl-horizontal dd{
    margin-left: 0;
    margin-bottom: 1em;
}