
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
        @*Action links are hyperlinks*@
    <li>@Html.ActionLink("Get Form", "Page1", "Home")</li>
    <li>@Html.ActionLink("Post Form", "Page2", "Home")</li>
    <li>@Html.ActionLink("Loan Calulator", "Loan", "Home")</li>
</ul>