
@{
    ViewBag.Title = "Page1";
}

<h2>Form Entry - GET</h2>

<form method="get">
    <input type="text" name="name" value="First Name" />
    <input type="text" name="food" value="Favorite Food" />
    <input type="submit" name="submit" value="Tell me!" />
</form>

<p>@ViewBag.foodData</p>

