
@{
    ViewBag.Title = "Form Entry - POST";
}

<h2>Form Entry - POST</h2>
<br />

<form method="post">
    <input type="text" name="name" value="First Name" />
    <input type="text" name="food" value="spaghetti" />
    <input type="submit" name="submit" value="Tell me!" />
</form>

<p>@ViewBag.message</p>